body {
    margin: 0px;
}

#intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    font-size: clamp(1rem, 4.8vw + 1rem, 40rem);

    color: #000;
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    text-align: center;
    user-select: none;
}



.intro-background {
    width: 100vw;
    height: 100vh;
    background: #e3e3e3;
    position: absolute;
    overflow: hidden;
}

$particleSize: 25vmin;
$animationDuration: 6s;
$amount: 20;

.intro-background span {
    width: $particleSize;
    height: $particleSize;
    border-radius: $particleSize;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: $animationDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    $colors: (
        #b1b1b1,
        #a7a7a7,
        #8f8f8f
    );

@for $i from 1 through $amount {
    &:nth-child(#{$i}) {
        color: nth($colors, random(length($colors)));
        top: random(100) * 1%;
        left: random(100) * 1%;
        animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
        animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
        transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
        $blurRadius: (
            random() + 0.5) * $particleSize * .9;
        $x: if(random() > 0.5, -1, 1
        );
    box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
}
}
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}