@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
}

#intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    font-size: clamp(1rem, 6vw + 1rem, 44rem);
    
    color: #000;
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;

    text-align: center;

    user-select: none;
}
