.page-wrapper {
  background: #e3e3e3;
}



h1 {
  font-size: 120px;
}

[data-scroll-container] {
  overflow: hidden;
  position: relative;
  height: 100vh;
  
}

.c-scrollbar_thumb {
  background: #ef6817 !important;
}