.main-wrapper {
  width: 100%;
  height: 100%;

  .intro-section {
    .intro-wrapper {
      display: flex;

      .intro-stacks-title {
        color: gray;
        font-size: 2rem;
      }

      .intro-text {
        display: inline-block;
        padding-top: 26%;
        line-height: 1.1;
        margin-left: 1.25rem;
        vertical-align: middle;

        span {
          color: gray;
          display: inline-block;
          min-width: .3em;
          font-size: 6rem;
        }

      }

    }
  }

  .techstacks-section {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;

    .fire-wrapper {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .techstack-item {
      font-size: 6rem;
      font-weight: 600;
      line-height: 1;
      position: absolute;
      text-transform: uppercase;
      white-space: nowrap;


      span {
        color: white;
        display: block;
        padding: 0 20px;
        white-space: nowrap;
      }




    }

    ._one {
      left: 44%;
      top: 38%;
    }

    ._two {
      top: 50%;
      left: 17%;
    }

    ._three {
      left: 42%;
      top: 63%;
    }

    ._four {
      left: 22%;
      top: 75%;
    }

    ._five {
      left: 38%;
      top: 87%;
    }
  }
}



.intro-container {
  width: 700px;
  height: 50px;
}

.content {
  display: block;
  position: sticky;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  line-height: 40px;
  color: #ecf0f1;
}

.content__container {
  overflow: hidden;
  height: 170px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.content__container:before {
  content: '{';
  left: 0;
  position: absolute;
}

.content__container:after {
  content: '}';
  position: absolute;
  right: 0;
}

.content__container:after,
.content__container:before {
  position: absolute;
  top: -2px;
  color: gray;
  font-size: 11rem;
  line-height: 145px;
  animation: opacity 2s infinite;
}

.content__container__text {
  margin-left: 2rem;
  font-size: 7rem;
  display: inline;
  float: left;
}

.content__container__list {
  font-family: monospace;
  font-size: 2.8rem;
  height: 110px;
  margin-top: 0;
  padding-left: 2.8rem;
  text-align: left;
  list-style: none;
  animation: contentChange 12s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  color: #f39c12;
}

@keyframes contentChange {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  20% {
    transform: translateY(-120px) rotate(-2deg);
    opacity: 0.8;
  }

  40% {
    transform: translateY(-240px) rotate(-4deg);
    opacity: 0.6;
  }

  60% {
    transform: translateY(-360px) rotate(-2deg);
    opacity: 0.8;
  }

  80% {
    transform: translateY(-240px) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

.content__container__list__item {
  width: 340px;
  line-height: 120px;
  margin: 0;
}

@keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }

  20% {
    transform: translateY(-120px) scale(1.05) rotate(-2deg);
    opacity: 0.8;
  }

  40% {
    transform: translateY(-240px) scale(1.1) rotate(-4deg);
    opacity: 0.6;
  }

  60% {
    transform: translateY(-360px) scale(1.05) rotate(-2deg);
    opacity: 0.8;
  }

  80% {
    transform: translateY(-240px) scale(1) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

._one,
._two,
._three,
._four,
._five {
  animation: drift 10s infinite;
}

@keyframes drift {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  25% {
    transform: translateX(5vw) rotate(5deg);
  }

  50% {
    transform: translateX(-5vw) rotate(-5deg);
  }

  75% {
    transform: translateX(0) rotate(0deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}