@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #1b1b1c;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
